@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-helvetica-neue), sans-serif;
  --font-ysabeau: var(--font-ysabeau), sans-serif;
  --font-karla: var(--font-karla), sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-background: var(--color-background);
  --color-light: var(--color-light);

  --breakpoint-xs: 28rem;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #c3c3c3;
  --color-tertiary: #8b8b8b;
  --color-background: #000000;
  --color-light: #1a1c22;
}

::selection {
  background: #0c0a12;
}

* {
  scrollbar-width: none;
}

html {
  width: 100%;
  height: 100dvh;
  overflow-y: scroll;
  overscroll-behavior: none;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  transition: all 0.25s ease-out;
}

@keyframes sway {
  0% {
    transform: rotate(28deg);
  }
  50% {
    transform: rotate(31deg);
  }
  100% {
    transform: rotate(28deg);
  }
}

.animate-sway {
  animation: sway 4s ease-in-out infinite;
}
